.banner{
    background-color: black;
   .card-box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
    .comics-card{
       flex-basis: calc(100% / 6 - 10px);
       padding: 0 5px;
   
       img{
           display: block;
           max-width: 100%;
           height: auto;
       }
   
       figcaption{
           color: white;
           text-align: center;
       }
    }
   }
   
   .button{
    margin: 10px auto;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #0282F9;
    a{
        color: white;
    }
   }

 }
