.blue-banner{

    height: 50px;
    background-color: #0282F9;
    position: relative;

    img{
        position: absolute;
        left: 300px;
        bottom: 20px;
        width: 120px;
    }
}

.card-details{
    text-align: center;
    margin-top: 60px;
    margin-left: 80px;
    padding-bottom: 100px;
  
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        #price{
            height: 50px;
            display: flex;
            justify-content: space-between;
            line-height: 50px;
            background-color: #55BA59;
            margin: 5px 0;

            p{
                color: #B0FB93;
            }

        }

        .description{
            flex-basis: 50%;

            h3{
                color: #003F5E;
                font-weight: bold;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            
        }
    }

}

.credit{
    background-color: #F6F6F6;
   
    .row{
        margin-left: 20px;
    }
   span{
    font-size: 0.8rem;
    color: #62B0DE;
   }
}