* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header {
  height: 8, mm 0px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header figure img {
  padding-right: 30px;
  width: 100px;
}
header ul {
  display: flex;
  justify-content: center;
  padding-right: 120px;
  margin: 10px;
}
header ul li {
  padding: 10px;
}
header ul a {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;
}
header ul a a.active {
  border-bottom: 1px solid blue;
}

.jumbo {
  height: 300px;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  background-color: black;
}
.banner .card-box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.banner .card-box .comics-card {
  flex-basis: calc(16.6666666667% - 10px);
  padding: 0 5px;
}
.banner .card-box .comics-card img {
  display: block;
  max-width: 100%;
  height: auto;
}
.banner .card-box .comics-card figcaption {
  color: white;
  text-align: center;
}
.banner .button-load {
  margin: 0 auto;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #0282F9;
  position: relative;
  bottom: 20px;
}
.banner .button-load a {
  color: white;
}

.bottom-banner {
  height: 150px;
  background-color: #0282F9;
}
.bottom-banner ul {
  display: flex;
  justify-content: center;
  line-height: 150px;
}

.blue-banner {
  height: 50px;
  background-color: #0282F9;
  position: relative;
}
.blue-banner img {
  position: absolute;
  left: 300px;
  bottom: 20px;
  width: 120px;
}

.card-details {
  text-align: center;
  margin-top: 60px;
  margin-left: 80px;
  padding-bottom: 100px;
}
.card-details .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.card-details .wrapper #price {
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  background-color: #55BA59;
  margin: 5px 0;
}
.card-details .wrapper #price p {
  color: #B0FB93;
}
.card-details .wrapper .description {
  flex-basis: 50%;
}
.card-details .wrapper .description h3 {
  color: #003F5E;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.credit {
  background-color: #F6F6F6;
}
.credit .row {
  margin-left: 20px;
}
.credit span {
  font-size: 0.8rem;
}